
<div id="articlelist-content">
    <div id="header">
        <a href="http://cpcp.wisc.edu/" target="_blank"><img id="cpcp-logo" src="static/CPCP-logo.png"></a>
        <h1 id="logo" style="
font-size: 100px;">
            <span style="color: #1C569D;">P</span><span style="color: #5AC5EE;">L</span><span style="color: #178AAE;">E</span><span style="color:  #F8953C;">I</span><span style="color: #178AAE;">A</span><span style="color: #1C569D;">D</span><span style="color: #5AC5EE;">E</span><span style="color: #1C569D;">S</span>
        </h1>
        <h2 id="subtitle">Extracted Datum Browser</h2>
    </div>

    
    <div class="container-fluid article-list-container">
        <div class="row" style="text-align:center; padding-top:30px; font-family:dosis; font-size:160%; color:#666;">Top Articles</div>
        
        <div class="row article-row" *ngFor="let article of articles" (click)="gotoArticle(article)">
            <div class="col-md-9 citation-col">
                <b>{{ article.Title }}</b> <br />
                {{ article.Authors }} <br />
                <span style="color:#555">{{ article.FullJournalName }}</span>
            </div>
            <div class="col-md-3 button-col">
                <button class="btn btn-edit">Edit datums</button>
            </div>
        </div>
    </div>
</div>
