#header {
    font-family: 'Dosis';
    text-align: center;
}

#cpcp-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    font-size:100px;
    margin-bottom: 0;
}

#subtitle {
    color: #999;
    margin-top: 0;
}

#articlelist-content {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article-row {
    margin:10px;
    padding: 10px;
    border-radius: 5px;
    background: #e8f5fb;
    cursor: pointer;
}

.button-col {
    text-align: right;
}

.article-row .btn.btn-edit {
    color: #fff;
    background-color: #21A5E6;
    border: 0;
}

.article-row:hover .btn.btn-edit {
    background-color: #178AAE;
    border: 0;
    transition: 0.1s;
}
