
<!-- article text component -->
<div id="article-text-pane">
    <article-text [article]="article"></article-text>
</div>

<div id="article-datums-pane">

    <div id="top-nav">
    
        <!-- Add/remove highlight toggle -->
        <div id="widgets-topleft">
            <label>Hilight:
                <div class="btn-group" role="group">
                    <div class="btn" [class.btn-info]="highlightMode=='add'" [class.btn-default]="highlightMode!='add'" (click)="setHighlightMode('add')"> Add </div>
                    <div class="btn" [class.btn-info]="highlightMode=='remove'" [class.btn-default]="highlightMode!='remove'" (click)="setHighlightMode('remove')">Remove</div>
                </div>
            </label>
        </div>
        
        <!-- submit and back buttons -->
        <div id="widgets-topright">
            <button type="button" class="btn btn-default" (click)="goBack()">&larr; Back</button>
            <button class="btn btn-danger" (click)="submit()">Submit</button>
        </div>
    </div>

    <div *ngIf="article" class="container-fluid" id="datums-container">
        <div class="row" style="text-align: center; color:#888; padding-bottom:10px;font-family:'Dosis'">Select a datum:</div>
        
        
        <!-- one div.row for each treatment entity -->
        <div class="row datum-row" *ngFor="let entity of article.treatmentEntities">
            <div class="col-md-4 col-entity-string">
                {{ entity.TreatmentEntity.strings }}
            </div>
            
            <div class="col-md-4 col-treatment-tests">
                <ul>
                    <li *ngFor="let TreatmentTest of entity.TreatmentTests" class="btn datum-btn" (click)="selectDatum(TreatmentTest)" [class.datum-btn-selected]="selectedDatum === TreatmentTest">{{ TreatmentTest.Text }}</li>
                </ul>
            </div>
            
            <div class="col-md-4 col-treatment-types">
                <ul>
                    <li *ngFor="let TreatmentType of entity.TreatmentTypes" class="btn datum-btn" (click)="selectDatum(TreatmentType)" [class.datum-btn-selected]="selectedDatum === TreatmentType">{{ TreatmentType.Text }}</li>
                </ul>
            </div>
            
        </div>
        
        
    </div>
</div>
